proxy=http://bbproxy:M0nd1al@172.31.250.200:8080/
https-proxy=http://bbproxy:M0nd1al@172.31.250.200:8080/
no_proxy=git.mathregit.group
NODE_ENV=local
registry=http://172.30.155.1/repository/npm-group/
email=foo@allianz.com
always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=

